@model List<Progetto_Pizzeria.Models.Prodotto>

<h1>Lista Pizze</h1>

@if (Model.Any())
{
    <div class="row text-black">
        @foreach (var prodotto in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@prodotto.Immagine" class="card-img-top" alt="@prodotto.Nome" style="height:200px; object-fit:cover;" />
                    <div class="card-body">
                        <h5 class="card-title">@prodotto.Nome</h5>
                        <p class="card-text">
                            <strong>Prezzo:</strong> @prodotto.Prezzo <br />
                            <strong>Tempo di Consegna:</strong> @prodotto.TempoDiConsegna min.
                        </p>
                        <h6>Ingredienti:</h6>
                        <ul class="list-unstyled">
                            @foreach (var ingrediente in prodotto.Ingredienti)
                            {
                                <li>@ingrediente.Nome</li>
                            }
                        </ul>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control text-center quantity-input" value="1" min="1" id="quantita_@prodotto.Id">
                        </div>
                        <button class="btn btn-add text-black" data-prodotto-id="@prodotto.Id">Aggiungi</button>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-warning">Nessun dato</div>
}
